h1 {
    font-size: 60px;
    background-color: rgb(205, 120,0);
    color: #FAFFFA;
    text-align: : center;
    font-family: "Opem Sans", "Arial", sans-serif;
}
h2 {
    font-size: 40px;
    font-family: arial;
}
